<div>
  <header class="hero is-small is-primary">
    <div class="hero-body">
      <div class="is-flex">
        <h1 class="title is-1">Angular Gallery</h1>
        <button
          class="button is-danger"
          style="margin-left: auto"
          (click)="logOut()"
        >
          <span class="icon">
            <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
          </span>
          <span> Exit </span>
        </button>
      </div>
      <div class="credits">
        <app-credits></app-credits>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
