<div class="my-bar ml-4 my-3">
  <a routerLink="/images/new" class="button is-success ml-2">
    <span>New Image</span>
    <span class="icon">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </span>
  </a>
  <div class="field has-addons ml-2 mr-5">
    <div class="control">
      <input
        type="text"
        class="input is-primary"
        placeholder="Search by name..."
        [(ngModel)]="searchInput"
      />
    </div>
    <button class="button is-primary" (click)="makeSearch()">
      <span class="icon">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </span>
    </button>
    <button *ngIf="isSearch" class="button is-info ml-3" (click)="refresh()">
      <span class="icon">
        <fa-icon [icon]="['fas', 'sync']"></fa-icon>
      </span>
    </button>
  </div>
</div>
<div class="columns is-multiline mx-3 my-3">
  <div
    class="column is-one-quarter-desktop is-half-tablet"
    *ngFor="let image of images"
  >
    <div class="card pointer" (click)="openModal(image.url)">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="{{ image.url }}" alt="image" />
        </figure>
      </div>
      <div class="card-content is-overlay is-clipped">
        <a
          routerLink="/images/{{ image.token }}"
          class="button is-small is-info"
        >
          <span>{{ image.name }}</span>
          <span class="icon">
            <fa-icon [icon]="['fas', 'link']"></fa-icon>
          </span>
        </a>
      </div>
    </div>
    <div #modal class="modal">
      <div #modalBackground class="modal-background"></div>
      <div class="modal-content modal-center">
        <p class="image is-3by3">
          <img #modalImage alt="image" />
        </p>
      </div>
    </div>
  </div>
</div>
<div class="my-4 mx-5">
  <nav class="pagination" role="navigation" arial-label="pagination">
    <a
      *ngIf="prevPage"
      class="pagination-previous nav-button page-button"
      (click)="goToPage(prevPage)"
    >
      <span class="icon mr-2">
        <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
      </span>
      <span> Previous page </span>
    </a>
    <a
      *ngIf="nextPage"
      class="pagination-previous nav-button page-button"
      (click)="goToPage(nextPage)"
    >
      <span> Next Page </span>
      <span class="icon ml-2">
        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
      </span>
    </a>
  </nav>
</div>
